body{
}

.page{
  width: 400px;
  padding-top: 30px;
}
.title{
  size: 4em;
  color: black;
  font-family: 'FuturaStd', Fallback, sans-serif;
}

.text{
  font-family: 'open sans', Fallback, sans-serif;
}

.bio{
  width: 350px;
  display: inline;
}

.bio .profile{
  width: 150px;
  border-radius: 3px;
  float: left;
}

.bio p{
  width: 213px;
  float: right;
}


.buttons a{text-decoration: none;}

.buttons {
  padding-top: 50px;
  width 300px;
}

@font-face {
  font-family: FuturaStd;
  src: url("../assets/FuturaStd-Book.otf") format("opentype");
}

.center{
  margin: 0 auto;
}

.inner-center{
  text-align: center;
}

.clear{
  clear: both;
}
